h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

header {
    display:flex;
    justify-content: center;
}

main {
    width:800px;
    height: 1000px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

main div{
    display:block;
}

svg{
    background-color: #FFFFFF;
    height: 500px;
    margin-left:auto;
    margin-right: auto;
}

